#account-balance table {
	width: 100%;
}

#account-balance td {
	display: table-cell;
	padding: 5px;
	margin: 2px;
	text-align: right;
}

#account-balance .marketname, #account-balance .account-mkt-name {
	background-color: #009;
	color: #fff;
}

#account-balance .price {
	background-color: #444;
	color: #fff;
}

#account-balance .usd {
	background-color: #090;
	color: #fff;
}

#account-balance .btc {
	background-color: #990;
	color: #fff;
}

#account-balance .total {
	background-color: #900;
	color: #fff;
}

#account-balance .account-mkt-usdbal{
	background-color: #040;
}

#account-balance .account-mkt-btcbal{
	background-color: #440;
}

#account-mkt-total td {
	border-top: 1px solid #444;
}


