@import url(http://fonts.googleapis.com/css?family=Open+Sans:700italic,400);

html {
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding:0;
	text-align: center;
	color: #fff;
	background: #252525 url('../images/btc-background.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	font-family: 'Open Sans', Helvetica, sans-serif;
}

li, a {
	transition: background-color 400ms, color: 400ms;
	-webkit-transition: background-color 400ms, color: 400ms;
}

a:hover {
	text-decoration:  none;
}


label {
	display: inline-block;
	float: left;
	width: 140px;
	font-weight: bold;
	line-height: 26px;
	margin-right: 5px;
}

input {
	padding: 2px;
	font-size: 13px;
}

fieldset {
	border: 1px solid #aaa;
	padding: 5px;
	font-size: 13px;
}

legend {
	margin-left: 6px;
	font-size: 12px;
	font-weight: bold;
}

li.pos {
	padding-left: 20px !important;
	color: #090;
	background-image: url('http://lit2bit.com/btcftm/images/up-down.png');
	background-repeat: no-repeat;
	background-position: 0px 0px;
}

li.neg {
	padding-left: 20px !important;
	color: #F00;
	background-image: url('http://lit2bit.com/btcftm/images/up-down.png');
	background-repeat: no-repeat;
	background-position: 0px -64px;
}

li.neu {
	padding-left: 20px !important;
	color: #000;
}

/* -- ====== HEADER ===== -- */

#header {
	position: absolute;
	top: 0px;
	left: 0px;
	background: #000;
	border-bottom: 3px solid #444;
	height: 30px;
	width: 100%;
	z-index: 100;
   -moz-box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}

#header h2 {
	position: absolute;
	top: 0px;
	left: 10px;
	color: #fff;
	margin: 0px;
	padding: 0px;
	font-size: 20px;
	z-index: 11;
}

#currency-options {
	position: absolute;;
	top: 0px;
	left: 210px;
	margin: 0px;
	margin-top: 4px;
	padding: 0px;
	font-size: 16px;
}

#loading-data {
	position: absolute;
	top: 0px;
	left: 325px;
	width: 30px;
	height: 30px;
	background: #000 url('../images/small-ajax-loader.gif') center center no-repeat;
	z-index: 100;
}

#header .account {
	position: absolute;
	display: block;
	right: 0px;
	top: 0px;
	background:  #000;
	transition: opacity 600ms;
	-webkit-transition: opacity 600ms;
	z-index: 20;
}

#header .account h3 {
	position: relative;
	color: #fff;
	margin: 0px;
	line-height:  30px;
	margin-right: 30px;
	padding: 0px 10px;
	background-color: #000;
	z-index:  10;
	white-space: nowrap;
}

#header .account .account-icon {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 20px;
	height: 20px;
	padding: 5px;
	display:  block;
	float: right;
	background: #000 url('../images/gears-icon-small.png') center center no-repeat;
}

#header .account ul.account-dropdown {
	position:  absolute;
	display:  none;
	opacity: 0;
	top: 30px;
	right: 2px;
	width: 140px;
	background: #000;
	border: 3px solid #444;
	margin: 0;
	padding: 0;
	list-style:  none;
	text-align:  left;
}

#header .account:hover, #header .account:hover h3, #header .account:hover .account-icon {
	background-color: #444;
}

#header .account:hover ul.account-dropdown {
	display: block;
	opacity: 1.0;
}

ul.account-dropdown li {
	padding: 5px 5px;
	font-size: 12px;
	border-bottom: 1px solid #222;
}

ul.account-dropdown li:hover {
	background: #222;
}

ul.account-dropdown li a {
	color: #ddd;
}

ul.account-dropdown li:hover > a {
	color: #fff;
}

#header .account:hover {
	background: #444;
	cursor:  pointer;
}

#bitcoin-market-ticker {
	position: absolute;
	display:  block;
	left: 345px;
	right: 10px;
	height: 30px;
	z-index:  2;
	overflow: hidden;
}

#bitcoin-market-ticker .ticker-wrapper {
	position: absolute;
	top: 6px;
	left: 0px;
	font-size: 13px;
	font-weight: bold;
	color: #fff;
	height: 20px;
	width: 2000px;
	white-space: nowrap;
	padding: 0px 20px;
	vertical-align: top;
}

#bitcoin-market-ticker .market-ticker {
	position: relative;
	display: block;
	float: left;
	padding-right: 30px;
	color: #ccc;
}

.market-trend.pos {
	color: #0f0;
}

.market-trend.neg {
	color: #f00;
}

.market-trend-icon {
	background: transparent url('../images/up-down.png') 0px 0px no-repeat;
	display: inline-block;
	width: 16px;
	height: 16px;
	margin: 0px 3px;
	padding: 0px;
}

.market-trend.neg .market-trend-icon {
	background-position: 0px -16px;
}

.market-trend.neu .market-trend-icon {
	display: none;
}


/* ====== CONTAINER ===== */

#container {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	top: 0px;
	left: 0px;
	z-index: 1;
}

/* ======= SIDEBAR ======= */

#sidebar {
	position: absolute;
	width: 140px;
	height: 100%;
	left: 0px;
	top: 0px;
	background: rgba(0,0,0,0.9);
	z-index: 10;
	border-right: 3px solid #444;
	color: #fff;
   -moz-box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}

#sidebar ul {
	
	list-style: none;
	text-align: left;
	font-size: 16px;
	padding: 0px;
	margin: 0px;
	margin-top: 40px;
}

#sidebar ul li {
	margin: 0px aut;
	padding: 10px 10px;
	border-bottom: 1px solid #222;
}

#sidebar ul li a {
	display:  block;
	color: #ddd;
}

#sidebar ul li:hover {
	background-color: #222;
	cursor: pointer;
}

#sidebar ul li:hover > a {
	color: #fff;
}

#sidebar ul li:active, #sidebar ul li.active {
	background: #444;
}

/* ===== CONTENT ===== */

#main-content {
	display: block;
	position: absolute;
	left: 160px;
	top: 50px;
	bottom: 30px;
	right: 20px;
	background-color: transparent;
}

#main-content .content {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.9);
	color: #eee;
	border: 3px solid #444;
	opacity: 1.0;
	margin-left: 0px;
	box-sizing: border-box;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
  overflow: scroll;
  -moz-box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}

#main-content .content.init {
	display: none;
}

#main-content .content.hide {
	display: block;
	opacity: 0.0;
	margin-left: 3000px;
}

#main-content .content h1 {
	display:  block;
	width: 100%;
	height: 30px;
	font-size: 20px;
	line-height:  30px;
	text-align: center;
	padding: 0px;
	margin: 0px auto;
	background-color: #444;
}

/* ===== FOOTER ===== */

#footer {
	display: block;
	position: absolute;;
	width: 100%;
	height: 30px;
	bottom: 0px;
	left: 0px;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,1)));
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );

	color: #aaa;
}

#footer #trading-status {
	position: absolute;
	display: block;
	bottom: 5px;
	left: 150px;
	width: auto;
	font-size: 10px;
	padding: 5px;
	color: #ccc;
}

#footer .version {
	position:  absolute;
	right: 10px;
	bottom: 5px;
	font-size: 10px;
}

.disclaimer {
	position: absolute;
	left: 0px;
	bottom: 0px;
	font-size: 10px;
	font-style: italic;
	padding: 5px;
	color: #ccc;
}