
/************************************************************************
<> BEGIN RESETS
*************************************************************************/
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
	del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td {
		padding: 0;
		border: 0;
		outline: 0;
		font-family: inherit;
		font-style: inherit;
		font-size: 100%;
		vertical-align: baseline;
	}
	
/************************************************************************
<> GLOBAL LAYOUT ELEMENTS
*************************************************************************/
	*{ padding: 0px; }
	html {height:100%; width: 100%; margin:0px; padding:0px;}
	html.ie7, html.ie8 { height: auto; }
	body {margin:0px; padding:0px; height:100%; width: 100%;}
	body{ font-family:'Lucida Grande','Lucida Sans Unicode',Verdana,Arial,Helvetica,sans-serif; font-size: 100%; background: #FFF }
	a{ outline: none; text-decoration: none; }
	a:hover{ text-decoration: underline; }
	a img{ border: none; }
	b, strong { font-weight: bold; }
	i, em { font-style: italic; }
	
	.clear {clear:both;}
	.clearlast {clear:both;padding-bottom:35px;}
	
	.clearfix:after	{ content: " "; visibility: hidden; display: block; height: 0px; clear: both; }
	.clearfix {display:inline-block;}
	html[xmlns] .clearfix { display: block; }
	* html .clearfix{ height: 1%; zoom: 1; }
	*+html .clearfix{ height: 1%; zoom: 1;}
	
	#flashContent {height:100%; margin:0px; padding:0px;}
	
/************************************************************************
<> INNER BLOCK ELEMENTS
*************************************************************************/
.full {
	float: left;
	position: relative;
	width: 100%;
	margin-right: 0%;
}

.none {
	width: 0;
	display: none;
}

.one_half{
	float:left; 
	position: relative; 
	margin-right:1%; 
	width:49%;
}

.one_third{
	float:left; 
	position: relative; 
	margin-right:0.8%; 
	width:32.3%;
}

.one_fourth{
	float:left; 
	position: relative; 
	margin-right:0.7%; 
	width:24%;
}

.one_fifth{
	float:left; 
	position: relative; 
	margin-right:1%; 
	width:19%;
}

.one_sixth{

	float:left; 
	position: relative; 
	margin-right:1%; 
	width:15.6%;
}

.two_third{
	float:left; 
	position: relative; 
	margin-right:1%; 
	width:65%;
}

.three_fourth{
	float:left; 
	position: relative; 
	margin-right:1%; 
	width:74%;
}

.four_fifth{
	float:left; 
	position: relative; 
	margin-right:1%; 
	width:79%;
}

.five_sixth{
	float:left; 
	position: relative; 
	margin-right:1%; 
	width:83%;
}

.last_col {
	margin-right: 0;
}

.column_img { 
	width: 95%; 
}

.full .column_img {
	width: 99%;
}

.three_fourth .column_img, .two_third .column_img {
	width: 98%;
}

.one_half .column_img {
	width: 97%;
}

.one_third .column_img {
	width: 96%;
}

.one_fourth .column_img {
	width: 94%;
}

/************************************************************************
<> Layout Elements (elements add via TinyMCE)
*************************************************************************/

.portfolio_row{
	clear:both;
	margin-bottom:8px;
}

.more-link {
	display: inline-block;
}

body.mceContentBody {
	width: 99%;
	margin: 0.5%;
}

body.mceContentBody .full .column_img, body.mceContentBody .three_fourth .column_img, body.mceContentBody .two_third .column_img {
	width: 98%;
}

body.mceContentBody .one_half .column_img {
	width: 96%;
}

body.mceContentBody .one_third .column_img {
	width: 95%;
}

body.mceContentBody .one_fourth .column_img {
	width: 93%;
}

body.mceContentBody img, body.mceContentBody img:hover {
	cursor: pointer;
}

body.mceContentBody .full, body.mceContentBody .one_half, body.mceContentBody .one_third, body.mceContentBody .one_fourth, body.mceContentBody .two_third, body.mceContentBody .three_fourth  {
	border: 1px solid transparent;
}

body.mceContentBody .full:hover, body.mceContentBody .one_half:hover, body.mceContentBody .one_third:hover, body.mceContentBody .one_fourth:hover, body.mceContentBody .two_third:hover, body.mceContentBody .three_fourth:hover,
body.mceContentBody .full:focus, body.mceContentBody .one_half:focus, body.mceContentBody .one_third:focus, body.mceContentBody .one_fourth:focus, body.mceContentBody .two_third:focus, body.mceContentBody .three_fourth:focus {
	border: 1px dotted #777;
}

/*
body.mceContentBody .one_half, body.mceContentBody .one_third, body.mceContentBody .one_fourth, body.mceContentBody .two_third, body.mceContentBody .three_fourth  {
	margin-right: 1%;
}

body.mceContentBody .full, body.mceContentBody .one_half.last_col, body.mceContentBody .one_third.last_col, body.mceContentBody .one_fourth.last_col, body.mceContentBody .two_third.last_col, body.mceContentBody .three_fourth.last_col  {
	margin-right: 0px;
}
*/

body.mceContentBody .full {
	width: 100%;
	margin-right: 0px;
}

body#mceTemplate2Preview {
	
}

body#mceTemplate2Preview .full, body#mceTemplate2Preview .one_half, body#mceTemplate2Preview .one_third, body#mceTemplate2Preview .one_fourth, body#mceTemplate2Preview .two_third, body#mceTemplate2Preview .three_fourth {
	border: 1px dotted #777;
}


	
/************************************************************************
<> ALIGNMENT STYLES
*************************************************************************/

.aligncenter,
div.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.alignleft {
	float: left;
}

img.alignleft {
	margin-right: 5px;
}

.alignright {
	float: right;
}

img.alignright {
	margin-left: 5px;
}

.textleft {
	text-align: left;
}

.textright {
	text-align: right;
}

.textcenter {
	text-align: center;
}

.clearleft {
	clear: left;
}

.clearright {
	clear: right;
}

.clearboth {
	clear: both;
}

.hr {
	clear: both;
}

/************************************************************************
<> OVERLAY STYLES
*************************************************************************/

.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
}

.bg_overlay {
	position: fixed;
	top: 0px;
	left: 0px;
	padding: 0px;
	margin: 0px;
}

.bg_overlay img {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	padding: 0px;
	margin: 0px;
}

/************************************************************************
<> CORE AND RESET STYLES
*************************************************************************/

.no_border {
	border: none !important;
	border-left: none !important;
	border-right: none !important;
	border-top: none !important;
	border-bottom: none !important;
}

.no_shadow {
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

.no_corner {
	-moz-border-radius: 0px !important;
	-webkit-border-radius: 0px !important;
	border-radius: 0px !important;
}

.no_background {
	background: none !important;
	background-image: none !important;
	background-color: transparent !important;
}

.no_margin {
	margin: 0 !important;
	margin-top: 0 !important;
	margin-left: 0 !important;
	margin-bottom: 0 !important;
	margin-right: 0 !important;
}

.no_padding {
	padding: 0 !important;
	padding-top: 0 !important;
	padding-left: 0 !important;
	padding-bottom: 0 !important;
	padding-right: 0 !important;
}

.no_transition {
	-moz-transition: none !important;
	-webkit-transition: none !important;
	-o-transition: none !important;
	-ms-transition: none !important;
	transition: none !important;
}

.no_IEfilter {
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false) !important;
}

.RFadminBase {
	font-family: 'RFadminBase' !important;
}

.mt2 { margin-top: 2px !important; }
.mr2 { margin-right: 2px !important; }
.mb2 { margin-bottom: 2px !important; }
.ml2 { margin-left: 2px !important; }

.mt5 { margin-top: 5px !important; }
.mr5 { margin-right: 5px !important; }
.mb5 { margin-bottom: 5px !important; }
.ml5 { margin-left: 5px !important; }

.mt10 { margin-top: 10px !important; }
.mr10 { margin-right: 10px !important; }
.mb10 { margin-bottom: 10px !important; }
.ml10 { margin-left: 10px !important; }

.mt15 { margin-top: 15px !important; }
.mr15 { margin-right: 15px !important; }
.mb15 { margin-bottom: 15px !important; }
.ml15 { margin-left: 15px !important; }

.mt20 { margin-top: 20px !important; }
.mr20 { margin-right: 20px !important; }
.mb20 { margin-bottom: 20px !important; }
.ml20 { margin-left: 20px !important; }

.pt2 { padding-top: 2px !important; }
.pr2 { padding-right: 2px !important; }
.pb2 { padding-bottom: 2px !important; }
.pl2 { padding-left: 2px !important; }

.pt5 { padding-top: 5px !important; }
.pr5 { padding-right: 5px !important; }
.pb5 { padding-bottom: 5px !important; }
.pl5 { padding-left: 5px !important; }

.pt10 { padding-top: 10px !important; }
.pr10 { padding-right: 10px !important; }
.pb10 { padding-bottom: 10px !important; }
.pl10 { padding-left: 10px !important; }

.pt15 { padding-top: 15px !important; }
.pr15 { padding-right: 15px !important; }
.pb15 { padding-bottom: 15px !important; }
.pl15 { padding-left: 15px !important; }

.pt20 { padding-top: 20px !important; }
.pr20 { padding-right: 20px !important; }
.pb20 { padding-bottom: 20px !important; }
.pl20 { padding-left: 20px !important; }

.ctl2 { -moz-top-left-border-radius: 2px !important; -webkit-top-left-border-radius: 2px !important; top-left-border-radius: 2px !important; }
.ctr2 { -moz-top-right-border-radius: 2px !important; -webkit-top-right-border-radius: 2px !important; top-right-border-radius: 2px !important; }
.cbr2 { -moz-bottom-right-border-radius: 2px !important; -webkit-bottom-right-border-radius: 2px !important; bottom-right-border-radius: 2px !important; }
.cbl2 { -moz-bottom-left-border-radius: 2px !important; -webkit-bottom-left-border-radius: 2px !important; top-bottom-border-radius: 2px !important; }

.ctl5 { -moz-top-left-border-radius: 5px !important; -webkit-top-left-border-radius: 5px !important; top-left-border-radius: 5px !important; }
.ctr5 { -moz-top-right-border-radius: 5px !important; -webkit-top-right-border-radius: 5px !important; top-right-border-radius: 5px !important; }
.cbr5 { -moz-bottom-right-border-radius: 5px !important; -webkit-bottom-right-border-radius: 5px !important; bottom-right-border-radius: 5px !important; }
.cbl5 { -moz-bottom-left-border-radius: 5px !important; -webkit-bottom-left-border-radius: 5px !important; top-bottom-border-radius: 5px !important; }

.ctl10 { -moz-top-left-border-radius: 10px !important; -webkit-top-left-border-radius: 10px !important; top-left-border-radius: 10px !important; }
.ctr10 { -moz-top-right-border-radius: 10px !important; -webkit-top-right-border-radius: 10px !important; top-right-border-radius: 10px !important; }
.cbr10 { -moz-bottom-right-border-radius: 10px !important; -webkit-bottom-right-border-radius: 10px !important; bottom-right-border-radius: 10px !important; }
.cbl10 { -moz-bottom-left-border-radius: 10px !important; -webkit-bottom-left-border-radius: 10px !important; top-bottom-border-radius: 10px !important; }

.o0 { -moz-opacity: 0.0; -webkit-opacity: 0.0; opacity: 0.0; }
.o10 { -moz-opacity: 0.1; -webkit-opacity: 0.1; opacity: 0.1; }
.o20 { -moz-opacity: 0.2; -webkit-opacity: 0.2; opacity: 0.2; }
.o30 { -moz-opacity: 0.3; -webkit-opacity: 0.3; opacity: 0.3; }
.o40 { -moz-opacity: 0.4; -webkit-opacity: 0.4; opacity: 0.4; }
.o50 { -moz-opacity: 0.5; -webkit-opacity: 0.5; opacity: 0.5; }
.o60 { -moz-opacity: 0.6; -webkit-opacity: 0.6; opacity: 0.6; }
.o70 { -moz-opacity: 0.7; -webkit-opacity: 0.7; opacity: 0.7; }
.o80 { -moz-opacity: 0.8; -webkit-opacity: 0.8; opacity: 0.8; }
.o90 { -moz-opacity: 0.9; -webkit-opacity: 0.9; opacity: 0.9; }
.o100 { -moz-opacity: 1.0; -webkit-opacity: 1.0; opacity: 1.0; }

