#markets table {
	width: 100%;
}

#markets td, #markets th {
	border: 1px solid transparent;
}

#markets td {
	display: table-cell;
	padding: 5px;
	margin: 2px;
	text-align: right;
}

#markets th.hover, #markets td.hover {
	border: 1px solid #ff0;
	background-color: #220;
	cursor: pointer;
}

#markets td.active {
	background-color: #440;
}

.pos { 
color: #0c0;
}

.neg {
color: #c00;
}

.market {
	background-color: #009;
	color: #fff;
}

.value {
	background-color: #990;
	color: #fff;
}

#markets .updating, #markets .waiting {
	font-size: 11px;
	color: #aaa;
}

.mkt-value-row .val {
	display: block;
	font-size: 16px;
}

.mkt-value-row .perc {
	display: block;
	font-size: 12px;
}

.mkt-value-row .perc .pos {
	color: #0f0;
}

.mkt-value-row .perc .neg {
	color: #f00;
}

.market-perc-icon {
	background: transparent url('../images/up-down.png') 0px 0px no-repeat;
	display: inline-block;
	width: 16px;
	height: 16px;
	margin: 0px 2px;
	padding: 0px;
}

.neg .market-perc-icon {
	background-position: 0px -16px;
}

.neu .market-perc-icon {
	display: none;
}
